html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(67, 65, 78);
}

a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
